        <component name="guide511">
            <property name="w1"> 0.05186 </property>
            <property name="h1"> 0.05405 </property>
            <property name="w2"> 0.05062 </property>
            <property name="h2"> 0.05172 </property>
            <property name="l"> 0.37920 </property>
            <property name="R0"> 0.98 </property>
            <property name="mx"> 3.6 </property>
            <property name="my"> 3.6 </property>
            <property name="Qcy"> 0.02 </property>
            <property name="Qcx"> 0.02 </property>
            <property name="W"> 0.002 </property>
            <property name="k"> 1.0 </property>
            <property name="d"> 0.0 </property>
            <property name="alphax">5.5</property>
            <property name="alphay">5.5</property>
        </component>
